BOT_TOKEN=put_telegram_bot_token_here
ALLOWED_USER_IDS=111111111,222222222
ADMIN_USER_IDS=111111111
TIMEZONE=Asia/Barnaul
DIGEST_TIME=08:00
DIARY_REMINDER_TIME=18:00
WEEKLY_REVIEW_ENABLED=false
WEEKLY_REVIEW_DAY=sunday
WEEKLY_REVIEW_TIME=19:00
AMVERA_API_TOKEN=put_amvera_llm_token_here
AMVERA_LLM_BASE_URL=https://inference.waw0.amvera.ru/v1
AMVERA_LLM_MODEL=llama70b
DATA_DIR=data
HOROSCOPE_PROVIDER=mail_ru
HOROSCOPE_SIGN=pisces
HOROSCOPE_LANGUAGE=ru
HOROSCOPE_API_URL=https://horo.mail.ru/prediction/{sign}/today/
HOROSCOPE_API_KEY=put_astrology_api_key_here
# Старый источник, если понадобится откат:
# HOROSCOPE_PROVIDER=astrology_api
# HOROSCOPE_API_URL=https://api.astrology-api.io/api/v3/horoscope/sign/daily/text
RECIPIENT_NAME=Павел Николаевич
LUNAR_REGION=Алтайский край
LUNAR_CITY=Барнаул
LUNAR_LATITUDE=53.3606
LUNAR_LONGITUDE=83.7636
DACHA6_CALENDAR_URL=https://www.dacha6.ru/lunnyi-kalendar-dachnika/altayskiy-kray/
